[user]
	name = Venkatesh
	email = 75016701+PedisettiVenkatesh@users.noreply.github.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
    editor = code --wait
	autocrlf = input
